USE [QuanLyRapPhim]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[MaGhe] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[SoHang] [char](1) NOT NULL,
	[SoCot] [int] NOT NULL,
	[MaLoaiGhe] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaDon] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[TongTien] [decimal](12, 2) NOT NULL,
	[ThoiGianDat] [datetime] NOT NULL,
	[ThoiGianThanhToan] [datetime] NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[MaLoaiGhe] [varchar](10) NOT NULL,
	[TenLoaiGhe] [nvarchar](100) NOT NULL,
	[GiaPhuThu] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaPhim] [varchar](20) NOT NULL,
	[TenPhim] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Poster] [nvarchar](500) NULL,
	[ThoiLuong] [int] NOT NULL,
	[NgayKhoiChieu] [date] NOT NULL,
	[DoTuoiPhuHop] [nvarchar](20) NULL,
	[NgonNgu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phim_the_loai]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phim_the_loai](
	[ma_phim] [varchar](255) NOT NULL,
	[ma_the_loai] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhimTheLoai]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimTheLoai](
	[MaPhim] [varchar](20) NOT NULL,
	[MaTheLoai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC,
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[MaPhong] [varchar](10) NOT NULL,
	[MaRap] [varchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SucChua] [int] NOT NULL,
	[MaLoaiPhong] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rap]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rap](
	[MaRap] [varchar](10) NOT NULL,
	[TenRap] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MaThanhPho] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[MaSuat] [varchar](10) NOT NULL,
	[MaPhim] [varchar](20) NOT NULL,
	[MaRap] [varchar](10) NOT NULL,
	[NgayChieu] [date] NOT NULL,
	[GioChieu] [time](7) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[Gia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPho](
	[MaThanhPho] [varchar](10) NOT NULL,
	[TenThanhPho] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhPho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[the_loai]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[the_loai](
	[ma_the_loai] [varchar](255) NOT NULL,
	[ten_the_loai] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_the_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [varchar](20) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 4/2/2026 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [varchar](10) NOT NULL,
	[MaGhe] [varchar](10) NOT NULL,
	[MaDon] [varchar](10) NOT NULL,
	[MaSuat] [varchar](10) NOT NULL,
	[TrangThaiVe] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ghe] ([MaGhe], [MaPhong], [SoHang], [SoCot], [MaLoaiGhe]) VALUES (N'PH01-A1', N'PH01', N'A', 1, N'LG01')
INSERT [dbo].[Ghe] ([MaGhe], [MaPhong], [SoHang], [SoCot], [MaLoaiGhe]) VALUES (N'PH01-A10', N'PH01', N'A', 10, N'LG01')
INSERT [dbo].[Ghe] ([MaGhe], [MaPhong], [SoHang], [SoCot], [MaLoaiGhe]) VALUES (N'PH01-A2', N'PH01', N'A', 2, N'LG01')
GO
INSERT [dbo].[HoaDon] ([MaDon], [MaKhachHang], [TongTien], [ThoiGianDat], [ThoiGianThanhToan], [TrangThai], [PhuongThucThanhToan]) VALUES (N'HD001', N'KH001', CAST(150000.00 AS Decimal(12, 2)), CAST(N'2026-03-17T21:09:49.510' AS DateTime), CAST(N'2026-03-17T21:09:49.510' AS DateTime), N'Đã thanh toán', N'MOMO')
INSERT [dbo].[HoaDon] ([MaDon], [MaKhachHang], [TongTien], [ThoiGianDat], [ThoiGianThanhToan], [TrangThai], [PhuongThucThanhToan]) VALUES (N'HD002', N'KH002', CAST(95000.00 AS Decimal(12, 2)), CAST(N'2026-03-17T21:09:49.510' AS DateTime), CAST(N'2026-03-17T21:09:49.510' AS DateTime), N'Đã thanh toán', N'Tiền mặt')
INSERT [dbo].[HoaDon] ([MaDon], [MaKhachHang], [TongTien], [ThoiGianDat], [ThoiGianThanhToan], [TrangThai], [PhuongThucThanhToan]) VALUES (N'HD003', N'KH001', CAST(0.00 AS Decimal(12, 2)), CAST(N'2026-03-17T21:09:49.510' AS DateTime), NULL, N'Chờ thanh toán', NULL)
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [GioiTinh], [Email]) VALUES (N'KH001', N'Nguyễn Văn An', N'0912345678', N'Nam', N'an@gmail.com')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [GioiTinh], [Email]) VALUES (N'KH002', N'Trần Thị Bình', N'0987654321', N'Nữ', N'binh@gmail.com')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [GioiTinh], [Email]) VALUES (N'KH003', N'Lê Minh Cường', N'0909123456', N'Nam', N'cuong@gmail.com')
GO
INSERT [dbo].[LoaiGhe] ([MaLoaiGhe], [TenLoaiGhe], [GiaPhuThu]) VALUES (N'LG01', N'Ghế thường', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[LoaiGhe] ([MaLoaiGhe], [TenLoaiGhe], [GiaPhuThu]) VALUES (N'LG02', N'Ghế VIP', CAST(20000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (N'LP01', N'2D Thường')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (N'LP02', N'3D')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (N'LP03', N'IMAX')
GO
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MoTa], [Poster], [ThoiLuong], [NgayKhoiChieu], [DoTuoiPhuHop], [NgonNgu]) VALUES (N'P001', N'Avengers: Endgame', N'Siêu anh hùng chiến đấu cứu vũ trụ', N'/poster/endgame.jpg', 181, CAST(N'2019-04-26' AS Date), N'T13', N'Tiếng Anh')
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MoTa], [Poster], [ThoiLuong], [NgayKhoiChieu], [DoTuoiPhuHop], [NgonNgu]) VALUES (N'P002', N'Spider-Man: No Way Home', N'Người Nhện đối đầu đa vũ trụ', N'/poster/spiderman.jpg', 148, CAST(N'2021-12-17' AS Date), N'T13', N'Tiếng Anh')
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MoTa], [Poster], [ThoiLuong], [NgayKhoiChieu], [DoTuoiPhuHop], [NgonNgu]) VALUES (N'P003', N'The Batman', N'Batman điều tra tội phạm ở Gotham', N'/poster/batman.jpg', 176, CAST(N'2022-03-04' AS Date), N'T16', N'Tiếng Anh')
GO
INSERT [dbo].[PhimTheLoai] ([MaPhim], [MaTheLoai]) VALUES (N'P001', N'TL01')
INSERT [dbo].[PhimTheLoai] ([MaPhim], [MaTheLoai]) VALUES (N'P001', N'TL05')
INSERT [dbo].[PhimTheLoai] ([MaPhim], [MaTheLoai]) VALUES (N'P002', N'TL01')
GO
INSERT [dbo].[PhongChieu] ([MaPhong], [MaRap], [TenPhong], [SucChua], [MaLoaiPhong]) VALUES (N'PH01', N'R01', N'Phòng 1', 10, N'LP01')
INSERT [dbo].[PhongChieu] ([MaPhong], [MaRap], [TenPhong], [SucChua], [MaLoaiPhong]) VALUES (N'PH02', N'R01', N'Phòng 2', 10, N'LP01')
INSERT [dbo].[PhongChieu] ([MaPhong], [MaRap], [TenPhong], [SucChua], [MaLoaiPhong]) VALUES (N'PH03', N'R02', N'Phòng 1', 10, N'LP01')
GO
INSERT [dbo].[Rap] ([MaRap], [TenRap], [DiaChi], [MaThanhPho]) VALUES (N'R01', N'Hà Đông', N'Hà Đông, Hà Nội', N'TP01')
INSERT [dbo].[Rap] ([MaRap], [TenRap], [DiaChi], [MaThanhPho]) VALUES (N'R02', N'Kosmo', N'Bắc Từ Liêm, Hà Nội', N'TP01')
INSERT [dbo].[Rap] ([MaRap], [TenRap], [DiaChi], [MaThanhPho]) VALUES (N'R03', N'Thăng Long', N'Hai Bà Trưng, Hà Nội', N'TP01')
GO
INSERT [dbo].[SuatChieu] ([MaSuat], [MaPhim], [MaRap], [NgayChieu], [GioChieu], [TrangThai], [Gia]) VALUES (N'SC001', N'P001', N'R05', CAST(N'2026-03-16' AS Date), CAST(N'09:00:00' AS Time), N'DANG_CHIEU', CAST(75000.00 AS Decimal(18, 2)))
INSERT [dbo].[SuatChieu] ([MaSuat], [MaPhim], [MaRap], [NgayChieu], [GioChieu], [TrangThai], [Gia]) VALUES (N'SC002', N'P001', N'R02', CAST(N'2026-03-16' AS Date), CAST(N'13:00:00' AS Time), N'DANG_CHIEU', CAST(75000.00 AS Decimal(18, 2)))
INSERT [dbo].[SuatChieu] ([MaSuat], [MaPhim], [MaRap], [NgayChieu], [GioChieu], [TrangThai], [Gia]) VALUES (N'SC003', N'P001', N'R09', CAST(N'2026-03-16' AS Date), CAST(N'17:00:00' AS Time), N'DANG_CHIEU', CAST(75000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaKhachHang], [Email], [MatKhau], [VaiTro], [NgayTao]) VALUES (N'TK001', N'KH001', N'an@gmail.com', N'123456', N'USER', CAST(N'2026-03-17T21:09:38.010' AS DateTime))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaKhachHang], [Email], [MatKhau], [VaiTro], [NgayTao]) VALUES (N'TK002', N'KH002', N'binh@gmail.com', N'123456', N'USER', CAST(N'2026-03-17T21:09:38.010' AS DateTime))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaKhachHang], [Email], [MatKhau], [VaiTro], [NgayTao]) VALUES (N'TK003', N'KH003', N'cuong@gmail.com', N'123456', N'ADMIN', CAST(N'2026-03-17T21:09:38.010' AS DateTime))
GO
INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (N'TP01', N'Hà Nội')
INSERT [dbo].[ThanhPho] ([MaThanhPho], [TenThanhPho]) VALUES (N'TP02', N'Hồ Chí Minh')
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL10', N'Gia đình')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL02', N'Hài')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL01', N'Hành động')
GO
INSERT [dbo].[Ve] ([MaVe], [MaGhe], [MaDon], [MaSuat], [TrangThaiVe]) VALUES (N'VE001', N'PH01-A1', N'HD001', N'SC001', N'DA_DAT')
INSERT [dbo].[Ve] ([MaVe], [MaGhe], [MaDon], [MaSuat], [TrangThaiVe]) VALUES (N'VE002', N'PH01-A2', N'HD001', N'SC001', N'DA_DAT')
INSERT [dbo].[Ve] ([MaVe], [MaGhe], [MaDon], [MaSuat], [TrangThaiVe]) VALUES (N'VE003', N'PH01-C1', N'HD002', N'SC001', N'DA_DAT')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Ghe_Phong_Hang_Cot]    Script Date: 4/2/2026 2:24:12 PM ******/
ALTER TABLE [dbo].[Ghe] ADD  CONSTRAINT [UQ_Ghe_Phong_Hang_Cot] UNIQUE NONCLUSTERED 
(
	[MaPhong] ASC,
	[SoHang] ASC,
	[SoCot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_Email]    Script Date: 4/2/2026 2:24:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_MaKhachHang]    Script Date: 4/2/2026 2:24:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_MaKhachHang] UNIQUE NONCLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TheLoai__327F958F736FCE1A]    Script Date: 4/2/2026 2:24:12 PM ******/
ALTER TABLE [dbo].[TheLoai] ADD UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Ve_Suat_Ghe]    Script Date: 4/2/2026 2:24:12 PM ******/
ALTER TABLE [dbo].[Ve] ADD  CONSTRAINT [UQ_Ve_Suat_Ghe] UNIQUE NONCLUSTERED 
(
	[MaSuat] ASC,
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ThoiGianDat]
GO
ALTER TABLE [dbo].[LoaiGhe] ADD  DEFAULT ((0)) FOR [GiaPhuThu]
GO
ALTER TABLE [dbo].[SuatChieu] ADD  DEFAULT ('DANG_CHIEU') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SuatChieu] ADD  DEFAULT ((75000)) FOR [Gia]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_LoaiGhe] FOREIGN KEY([MaLoaiGhe])
REFERENCES [dbo].[LoaiGhe] ([MaLoaiGhe])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_LoaiGhe]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_PhongChieu] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChieu] ([MaPhong])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_PhongChieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[phim_the_loai]  WITH CHECK ADD  CONSTRAINT [FKghpthk480h0xqh8rrylmq9b3d] FOREIGN KEY([ma_the_loai])
REFERENCES [dbo].[the_loai] ([ma_the_loai])
GO
ALTER TABLE [dbo].[phim_the_loai] CHECK CONSTRAINT [FKghpthk480h0xqh8rrylmq9b3d]
GO
ALTER TABLE [dbo].[PhimTheLoai]  WITH CHECK ADD FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[PhimTheLoai]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD  CONSTRAINT [FK_PhongChieu_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[PhongChieu] CHECK CONSTRAINT [FK_PhongChieu_LoaiPhong]
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD  CONSTRAINT [FK_PhongChieu_Rap] FOREIGN KEY([MaRap])
REFERENCES [dbo].[Rap] ([MaRap])
GO
ALTER TABLE [dbo].[PhongChieu] CHECK CONSTRAINT [FK_PhongChieu_Rap]
GO
ALTER TABLE [dbo].[Rap]  WITH CHECK ADD FOREIGN KEY([MaThanhPho])
REFERENCES [dbo].[ThanhPho] ([MaThanhPho])
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Phim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Phim]
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD  CONSTRAINT [FK_SuatChieu_Rap] FOREIGN KEY([MaRap])
REFERENCES [dbo].[Rap] ([MaRap])
GO
ALTER TABLE [dbo].[SuatChieu] CHECK CONSTRAINT [FK_SuatChieu_Rap]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Ghe] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[Ghe] ([MaGhe])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Ghe]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_HoaDon] FOREIGN KEY([MaDon])
REFERENCES [dbo].[HoaDon] ([MaDon])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_HoaDon]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_SuatChieu] FOREIGN KEY([MaSuat])
REFERENCES [dbo].[SuatChieu] ([MaSuat])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_SuatChieu]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD CHECK  (([ThoiLuong]>(0)))
GO
